
header{
    background-image: url("../images/montagne.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    height:500px;
}


#scroll_top{
    position: fixed;
    bottom: 50px;
    right:5px;
    cursor: pointer;
    display: none;
    font-size:2.5em;
    color: #007bff;
}

#signal_comment{
    display: none;
    background-color: white;
    box-shadow: 3px 3px 3px black;
    padding: 5%;
    border-radius: 10px;
}

#error_connection{
    text-align: center;
    font-weight: bold;
    color:red;
}

h3{
    text-align: center;
}

#image_erreur{
    height:auto;
    width:300px;
}