header h1{
    position:absolute;
    top:20%;
    right: 15%;
}

header{
    text-align: center;
    position: relative;
}

#page_connection_admin{
    margin:5%;
}

#scroll_top{
    position: fixed;
    bottom: 50px;
    right:50px;
    cursor: pointer;
    display: none;
}

#scroll_top{
    font-size:2rem;
}